@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sunday Masthead';
  font-weight: 400;
  src: url('../static/fonts/sunday_masthead-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  font-weight: 1 999;
  src: url('../static/fonts/inclusive_sans[wght].woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  font-style: italic;
  font-weight: 1 999;
  src: url('../static/fonts/inclusive_sans-italic[wght].woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Departure Mono';
  font-weight: 400;
  src: url('../static/fonts/departure_mono-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  @apply bg-stone-900 leading-relaxed text-stone-100;
  font-family: 'Departure Mono', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sunday Masthead', sans-serif;
}

h1 {
  @apply leading-none trim-text-box text-4xl;
  text-box: trim-both cap alphabetic;
}

h2 {
  @apply leading-none mb-5 mt-12 trim-text-box text-2xl;
}

p {
  @apply leading-relaxed;
}

button {
  @apply bg-plummy px-2 py-1 rounded text-sm;
}

.trim-text-box {
  text-box: trim-both cap alphabetic;
}
